<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Dungeons & Pandas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="/filters">Filters</a>
        <a href="/create-character">Character Creator</a>
    </div>

    <h1>
        I don't really know what to put here right now
    </h1>
</body>
</html>