<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item['name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/filters">Filters</a>
    </div>
    <a href="javascript:window.history.back();" class="back-button">Back</a>
    <h1>{{ item['name'] }}</h1>
    <p><strong>Rarity:</strong> {{ item['rarity'] }}</p>
    <p><strong>Type:</strong> {{ item['type'] }}</p>
    <p><strong>Description:</strong> {{ item['description'] }}</p>
    <img id="item-image" src="{{ item['image'] or 'placeholder_image' }}" alt="{{ item['name'] }} image" style="max-width: 10%; height: auto;">
    <br>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var img = document.getElementById('item-image');
            var placeholderImage = "{{ placeholder_image }}"

            img.onerror = function() {
                img.src = placeholderImage;
            };
        });
    </script>
</body>
</html>
